/* Global Styles */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background: #f2f2f2;
	color: #333;
  }
  
  h1, h2 {
	margin: 0;
  }
  
  .container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
  }
  
  /* Header Styles */
  header {
	background: #704214;
	color: #f2f2f2;
	padding: 20px;
	text-align: center;
	
  }
  
  h1 {
	font-size: 36px;
	letter-spacing: 2px;
	font-weight: bold;
  }
  
  /* Main Content Styles */
  main {
	background: #f2f2f2;
	padding: 20px;
	border-radius: 20px;

  }
  
  .blog-post {

	margin: 40px;
	background: #f2f2f2;
	padding: 20px;
	border-radius: 20px;
	box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.7), 5px 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
	font-size: 28px;
	color: #333;
	margin-bottom: 10px;
	font-weight: bold;
  }
  
  p {
	font-size: 16px;
	line-height: 1.5;
  }
  
  img {
	display: block;
	margin: 0 auto;
	max-width: 500px;
	height: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 20px;
	box-shadow: inset -15px -15px 30px rgba(255, 255, 255, 0.5), 
           inset 20px 20px 30px rgba(70, 70, 70, 0.12);
  }
  
  /* Footer Styles */
  footer {
	background: #704214;
	color: #f2f2f2;
	padding: 10px;
	text-align: center;
	box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.7), 5px 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Bauhaus Styles */
  
  /* Media Queries */
  @media screen and (max-width: 600px) {
	h1 {
	  font-size: 30px;
	}
  
	h2 {
	  font-size: 24px;
	}
  
	p {
	  font-size: 14px;
	}
  }
  